body {
    background: linear-gradient(217deg, rgba(26, 147, 111, 1), rgba(255, 235, 221, 0) 70%), 
                linear-gradient(127deg, rgba(244, 212, 252, 1), rgba(163, 143, 123, 0) 70%), 
                linear-gradient(336deg, rgba(26, 31, 79, 1), rgba(255, 167, 112, 0) 70%);
    width: 100vw;
    height: 100vh;
}

.navbar-brand img {
    width: auto;
    height: 50px;
}

.footer {
    font-size: 15px;
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
}

#dev-logo {
    width: 20px;
    margin: 5px 5px 0px 5px;
}