<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacroMastery</title>
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <link rel="stylesheet" href="static/stylesheets/bootstrap.min.css">
    <script src="static/scripts/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="static/favicon.ico">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="static/images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chatbots</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/frq-quizzer">FRQ Quizzer</a>
              <a class="dropdown-item" href="/def-sched">Definitions and Scheduler</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/course-review">Course Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about">About & Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <footer id="footer">
      <div class="row">
        <div class="col">
          <p id="disclaimer">*Advanced Placement (AP®) is a registered trademark of the College Board which was not involved in the production of and does not endorse this website.</p>
        </div>
        <div class="col" id="col-right">
          <a href="https://andrephilot.github.io/portfolio/" target="_blank"><span class="footer">Developed by Andre Philot<img id="dev-logo" src="static/images/logo.jpg" alt="Developer's logo"></span></a>
        </div>
      </div>
  </footer>
</body>
</html>
