{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col" id="about">
            <div class="card bg-light mb-3">
                <div class="card-body p-1">
                    <div class="paragraphs m-3">
                        <p>Question: What is an asset?</p>
                        <p>Answer: An asset is an item of value that is expected to provide the holder some future benefit. Example: factories are assets because they can be used to provide income to the firm's owner in the future; a bond is an asset to the bondholder because it will also provide him/her income in the future.</p>
                        <br>
                        <p>Question: What is a financial asset?</p>
                        <p>Answer: A financial asset is a contractual or written claim to something of value. The AP® Macroeconomics course focuses solely on four types of financial assets: 1- cash/bank deposits; 2- stocks; 3- bonds; and 4- loans.</p>
                        <br>
                        <p>Question: What is return?</p>
                        <p>Answer: Return is the profit made on an asset, usually expressed as a percentage. For example, a stock that is purchased for $100 and sold for $110 has a rate of return of 10%. Investors are attracted to financial assets with higher rates of return compared to other assets.</p>
                        <br>
                        <p>Question: What is a liability?</p>
                        <p>Answer: A liability is a requirement to pay money in the future. A loan is a liability for the borrower but an asset for the lender.</p>
                        <br>
                        <p>Question: What is a financial system?</p>
                        <p>Answer: A financial system connects savers and borrowers. Savers store their wealth in ways that let them earn a return. Borrowers want to pursue projects, but they need money (from savers) to fund those projects. For example, if a firm wants to build a new factory, they might issue bonds and stocks to savers as a way to raise financial assets. When borrowers buy those stocks and bonds, they are effectively lending money to these firms.</p>
                        <br>
                        <p>Question: What is a financial intermediary?</p>
                        <p>Answer: A financial intermediary is an institution that transforms the savings from individuals into financial assets (for the saver) and liabilities (for the borrower). The financial intermediary with which people are most familiar is a bank. Banks convert the savings and deposits of many individuals into loans for borrowers.</p>
                        <br>
                        <p>Question: What is a bank deposit? What is a demand deposit?</p>
                        <p>Answer: Bank deposits or demand deposits are money kept in a bank through a checking account. We call these "demand deposits" because banks are typically obligated to provide immediate access to the funds upon request.</p>
                        <br>
                        <p>Question: What is a stock? What is equity?</p>
                        <p>Answer: A stock, also called equity, is a slice of ownership in a company. Stocks derive their value from their ability to appreciate, and the payment of dividends. Stocks are sometimes called “equities” because they represent equal shares of a firm. Example: if you own one share of a company that has a total of 100 shares, you own 1/100th of that company. Stocks appreciate when someone else buys them, generating a return for the original stock owner. Stocks sometimes entitle the owner to a portion of the company's profit, called dividends.</p>
                        <br>
                        <p>Question: What are bonds?</p>
                        <p>Answer: Bonds are a form of interest-bearing asset. Bonds are IOUs (a promise to pay back some amount in the future). When the demand for bonds increases, their price also increases. When the supply of bonds increases, their price goes down. Bonds have three key features: the bond's par, the bond's maturity, and the bond's coupon payments. Companies and governments issue bonds to raise cash in the present, promising repayment in the future. Unlike stocks, bonds do not grant the owner any ownership claim—it is only a loan.</p>
                        <br>
                        <p>Question: What is a bond's maturity?</p>
                        <p>Answer: The bond's maturity is the length of time until the bond's owner is paid a fixed amount of money. Example: A 5-year bond matures in 5 years from its purchase.</p>
                        <br>
                        <p>Question: What is a bond's par value?</p>
                        <p>Answer: A bond's par value, sometimes called face value, is a fixed amount of money paid to the bond's owner at the bond's maturity.</p>
                        <br>
                        <p>Question: What is a bond's coupon payment?</p>
                        <p>Answer: Sometimes, bonds give the owner an occasional payment called a coupon payment. For example, Joe buys a bond for $100 that has a one-year maturity. Its face value is $110 and it pays a $1 coupon every six months. If Joe waits until its maturity, Joe is gonna get $112 back for the bond ($110 par value + $2 coupon payments).</p>
                        <br>
                        <p>Question: What is liquidity?</p>
                        <p>Answer: Liquidity is the ease with which an asset can be converted to cash without loss of purchasing power. A helpful analogy for understanding liquidity is to think of liquids! Think of money in a checking account as water, wealth you have stored in a savings bond as cooking oil, and a house as honey. They will each pour out of their “container” at different speeds, and the one that is most liquid (the water/money) will pour out the quickest - you can spend money right away!</p>
                        <br>
                        <p>Question: What is an illiquid asset?</p>
                        <p>Answer: An example is a house. That's because it takes a while to sell a house, which makes it similar to honey: it's going to be a while before you have access to its purchasing power. We call assets like this illiquid because they are either hard to convert to spending power, or spending power is lost in the process. For instance, to sell your house this week you might have to sell it at a loss (less than you paid for it), and so some of its spending power will be lost in the process.</p>
                        <br>
                        <p>Question: What is the order of liquidity of the four financial assets that we're studying?</p>
                        <p>Answer: The most liquid asset is cash or bank deposits (1) because they can be immediately used for purchasing goods. Next in liquidity are stocks (2) since they can be sold relatively quickly, although there's a risk of losing value, especially if sold before the dividend date or before the stock appreciates. Bonds (3) follow in liquidity as they can be sold in the bond market, but selling before maturity may result in a loss of value. Lastly, loans (4) are less liquid because banks can sell them to other banks, but they typically lose some value in the process.</p>
                        <br>
                        <p>Question: What is a financial risk?</p>
                        <p>Answer: Financial risk entails uncertainty in any direction, not solely downward movements. The higher the risk, the higher the potential return.</p>
                        <br>
                        <p>Question: What is the relationship between interest rates and the price of previously issued bonds?</p>
                        <p>Answer: The relationship between interest rates and the price of previously issued bonds is inverse. When interest rates go up, the price of previously issued bonds goes down; and when interest rates decrease, the price of previously issued bonds increases.</p>
                        <br>
                        <p>Question: What is the cost of holding money in the form of cash?</p>
                        <p>Answer: The cost of holding money in the form of cash is the interest rate. When a bank pays you interest on your savings account, the bank is compensating you for letting them use your cash. You are willing to forego using that cash yourself today in exchange for the ability to use more in the future.</p>
                        <br>
                        <p>Question: Are loans a liability?</p>
                        <p>Answer: Loans are a liability for the borrower and an asset for the lender, typically the bank.</p>
                        <br>
                        <p>Question: Does financial risk happen only when you don't know when the financial asset is going down or not?</p>
                        <p>Answer: Financial risk entails uncertainty in any direction, not solely downward movements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="container m-3">
        <div class="row">
            <div class="col" id="about">
                <div class="card bg-light mb-3">
                    <div class="card-body p-1">
                        <div class="paragraphs m-3">
                            <p>Question: What is an asset?</p>
                            <p>Answer: An asset is an item of value that is expected to provide the holder some future benefit. Example: factories are assets because they can be used to provide income to the firm's owner in the future; a bond is an asset to the bondholder because it will also provide him/her income in the future.</p>
                            <br>
                            <p>Question: What is a financial asset?</p>
                            <p>Answer: A financial asset is a contractual or written claim to something of value. The AP® Macroeconomics course focuses solely on four types of financial assets: 1- cash/bank deposits; 2- stocks; 3- bonds; and 4- loans.</p>
                            <br>
                            <p>Question: What is return?</p>
                            <p>Answer: Return is the profit made on an asset, usually expressed as a percentage. For example, a stock that is purchased for $100 and sold for $110 has a rate of return of 10%. Investors are attracted to financial assets with higher rates of return compared to other assets.</p>
                            <br>
                            <p>Question: What is a liability?</p>
                            <p>Answer: A liability is a requirement to pay money in the future. A loan is a liability for the borrower but an asset for the lender.</p>
                            <br>
                            <p>Question: What is a financial system?</p>
                            <p>Answer: A financial system connects savers and borrowers. Savers store their wealth in ways that let them earn a return. Borrowers want to pursue projects, but they need money (from savers) to fund those projects. For example, if a firm wants to build a new factory, they might issue bonds and stocks to savers as a way to raise financial assets. When borrowers buy those stocks and bonds, they are effectively lending money to these firms.</p>
                            <br>
                            <p>Question: What is a financial intermediary?</p>
                            <p>Answer: A financial intermediary is an institution that transforms the savings from individuals into financial assets (for the saver) and liabilities (for the borrower). The financial intermediary with which people are most familiar is a bank. Banks convert the savings and deposits of many individuals into loans for borrowers.</p>
                            <br>
                            <p>Question: What is a bank deposit? What is a demand deposit?</p>
                            <p>Answer: Bank deposits or demand deposits are money kept in a bank through a checking account. We call these "demand deposits" because banks are typically obligated to provide immediate access to the funds upon request.</p>
                            <br>
                            <p>Question: What is a stock? What is equity?</p>
                            <p>Answer: A stock, also called equity, is a slice of ownership in a company. Stocks derive their value from their ability to appreciate, and the payment of dividends. Stocks are sometimes called “equities” because they represent equal shares of a firm. Example: if you own one share of a company that has a total of 100 shares, you own 1/100th of that company. Stocks appreciate when someone else buys them, generating a return for the original stock owner. Stocks sometimes entitle the owner to a portion of the company's profit, called dividends.</p>
                            <br>
                            <p>Question: What are bonds?</p>
                            <p>Answer: Bonds are a form of interest-bearing asset. Bonds are IOUs (a promise to pay back some amount in the future). When the demand for bonds increases, their price also increases. When the supply of bonds increases, their price goes down. Bonds have three key features: the bond's par, the bond's maturity, and the bond's coupon payments. Companies and governments issue bonds to raise cash in the present, promising repayment in the future. Unlike stocks, bonds do not grant the owner any ownership claim—it is only a loan.</p>
                            <br>
                            <p>Question: What is a bond's maturity?</p>
                            <p>Answer: The bond's maturity is the length of time until the bond's owner is paid a fixed amount of money. Example: A 5-year bond matures in 5 years from its purchase.</p>
                            <br>
                            <p>Question: What is a bond's par value?</p>
                            <p>Answer: A bond's par value, sometimes called face value, is a fixed amount of money paid to the bond's owner at the bond's maturity.</p>
                            <br>
                            <p>Question: What is a bond's coupon payment?</p>
                            <p>Answer: Sometimes, bonds give the owner an occasional payment called a coupon payment. For example, Joe buys a bond for $100 that has a one-year maturity. Its face value is $110 and it pays a $1 coupon every six months. If Joe waits until its maturity, Joe is gonna get $112 back for the bond ($110 par value + $2 coupon payments).</p>
                            <br>
                            <p>Question: What is liquidity?</p>
                            <p>Answer: Liquidity is the ease with which an asset can be converted to cash without loss of purchasing power. A helpful analogy for understanding liquidity is to think of liquids! Think of money in a checking account as water, wealth you have stored in a savings bond as cooking oil, and a house as honey. They will each pour out of their “container” at different speeds, and the one that is most liquid (the water/money) will pour out the quickest - you can spend money right away!</p>
                            <br>
                            <p>Question: What is an illiquid asset?</p>
                            <p>Answer: An example is a house. That's because it takes a while to sell a house, which makes it similar to honey: it's going to be a while before you have access to its purchasing power. We call assets like this illiquid because they are either hard to convert to spending power, or spending power is lost in the process. For instance, to sell your house this week you might have to sell it at a loss (less than you paid for it), and so some of its spending power will be lost in the process.</p>
                            <br>
                            <p>Question: What is the order of liquidity of the four financial assets that we're studying?</p>
                            <p>Answer: The most liquid asset is cash or bank deposits (1) because they can be immediately used for purchasing goods. Next in liquidity are stocks (2) since they can be sold relatively quickly, although there's a risk of losing value, especially if sold before the dividend date or before the stock appreciates. Bonds (3) follow in liquidity as they can be sold in the bond market, but selling before maturity may result in a loss of value. Lastly, loans (4) are less liquid because banks can sell them to other banks, but they typically lose some value in the process.</p>
                            <br>
                            <p>Question: What is a financial risk?</p>
                            <p>Answer: Financial risk entails uncertainty in any direction, not solely downward movements. The higher the risk, the higher the potential return.</p>
                            <br>
                            <p>Question: What is the relationship between interest rates and the price of previously issued bonds?</p>
                            <p>Answer: The relationship between interest rates and the price of previously issued bonds is inverse. When interest rates go up, the price of previously issued bonds goes down; and when interest rates decrease, the price of previously issued bonds increases.</p>
                            <br>
                            <p>Question: What is the cost of holding money in the form of cash?</p>
                            <p>Answer: The cost of holding money in the form of cash is the interest rate. When a bank pays you interest on your savings account, the bank is compensating you for letting them use your cash. You are willing to forego using that cash yourself today in exchange for the ability to use more in the future.</p>
                            <br>
                            <p>Question: Are loans a liability?</p>
                            <p>Answer: Loans are a liability for the borrower and an asset for the lender, typically the bank.</p>
                            <br>
                            <p>Question: Does financial risk happen only when you don't know when the financial asset is going down or not?</p>
                            <p>Answer: Financial risk entails uncertainty in any direction, not solely downward movements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}