{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col" id="about">
            <div class="card bg-light mb-3">
                <div class="card-body p-1">
                    <div class="paragraphs m-3">
                        <p>MacroeconMastery was created to offer students a dedicated platform for practicing free-response questions (FRQs) with immediate feedback. Over time, it has evolved into a comprehensive resource for both students and teachers of Macroeconomics.</p>
                        <p>Our mission is to keep the FRQ Quizzer chatbot free and accessible to everyone. However, maintaining the site and its database comes with costs. If you'd like to support the project, consider purchasing one of our available <a href="/products">products</a>. </p>
                        <p>For inquiries or suggestions feel free to reach out to us at <a href="mailto:macroeconm@gmail.com" target="_blank">macroeconm@gmail.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
