{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col" id="about">
            <div class="card bg-light mb-3">
                <div class="card-body p-1">
                    <img class="picture" src="static/images/andre.jpg" id="pic-container">
                    <div class="paragraphs m-3">
                        <p>Hi, I'm <a href="https://andrephilot.github.io/portfolio/" target="_blank">Andre Philot</a>, an international teacher and developer. I created MacroeconMastery to provide students with a platform to practice free-response questions and receive immediate feedback.</p>
                        <p>My goal is to keep MacroeconMastery accessible to everyone for free. However, there are costs associated with hosting the website and maintaining its database. If you'd like to support MacroeconMastery financially, you can donate any amount to the <strong>$AndrePhilot</strong> Cash App account. For inquiries, feel free to contact me at <a href="mailto:andrephilot@gmail.com" target="_blank">andrephilot@gmail.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="container m-3">
        <div class="row">
            <div class="col" id="about">
                <div class="card bg-light mb-3">
                    <div class="card-body p-1">
                        <img class="picture" src="static/images/andre.jpg" id="pic-container">
                        <div class="paragraphs m-3">
                            <p>Hi, I'm <a href="https://andrephilot.github.io/portfolio/" target="_blank">Andre Philot</a>, an international teacher and developer. I created MacroeconMastery to provide students with a platform to practice free-response questions and receive immediate feedback.</p>
                            <p>My goal is to keep MacroeconMastery accessible to everyone for free. However, there are costs associated with hosting the website and maintaining its database. If you'd like to support MacroeconMastery financially, you can donate any amount to the <strong>$AndrePhilot</strong> Cash App account. For inquiries, feel free to contact me at <a href="mailto:andrephilot@gmail.com" target="_blank">andrephilot@gmail.com</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}