{% extends 'base.html' %}
{% block alert %}
<div class="alert alert-dismissible alert-light m-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    Say <strong>'Hi!'</strong> to the bot to get started <strong>⤵</strong>
</div>
{% endblock %}
{% block content %}
    <div class="responsive-iframe-container">
        <iframe id="myIframe" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/4fef25e8-cd45-42c9-ad2b-79567b8ec8d6"></iframe>
    </div>
        <div class="btn-group-vertical">
            <button id="side-button" type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUnit1" aria-controls="offcanvasUnit1">1<sup>st</sup> Unit</button>
            <button id="side-button" type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUnit2" aria-controls="offcanvasUnit2">2<sup>nd</sup> Unit</button>
            <button id="side-button" type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUnit3" aria-controls="offcanvasUnit3">3<sup>rd</sup> Unit</button>
            <button id="side-button" type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUnit4" aria-controls="offcanvasUnit4">4<sup>th</sup> Unit</button>
            <button id="side-button" type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUnit5" aria-controls="offcanvasUnit5">5<sup>th</sup> Unit</button>
            <button id="side-button" type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUnit6" aria-controls="offcanvasUnit6">6<sup>th</sup> Unit</button>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUnit1" aria-labelledby="offcanvasUnit1Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Unit 1: Basic Economic Concepts</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <p>1.1 Scarcity</p>
                    <p>1.2 Opportunity Cost and the Production Possibilities Curve (PPC)</p>
                    <p>1.3 Comparative Advantage and Gains from Trade</p>
                    <p>1.4 Demand</p>
                    <p>1.5 Supply</p>
                    <p>1.6 Market Equilibrium, Disequilibrium, and Changes in Equilibrium</p>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUnit2" aria-labelledby="offcanvasUnit2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Unit 2: Economic Indicators and the Business Cycle</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <p>2.1 The Circular Flow and GDP</p>
                    <p>2.2 Limitations of GDP</p>
                    <p>2.3 Unemployment</p>
                    <p>2.4 Price Indices and Inflation</p>
                    <p>2.5 Costs of Inflation</p>
                    <p>2.6 Real v. Nominal GDP</p>
                    <p>2.7 Business Cycles</p>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUnit3" aria-labelledby="offcanvasUnit3Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Unit 3: National Income and Price Determination</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <p>3.1 Aggregate Demand (AD)</p>
                    <p>3.2 Multipliers</p>
                    <p>3.3 Short-Run Aggregate Supply (SRAS)</p>
                    <p>3.4 Long-Run Aggregate Supply (LRAS)</p>
                    <p>3.5 Equilibrium in the Aggregate Demand-Aggregate Supply (AD-AS) Model</p>
                    <p>3.6 Changes in the AD-AS Model in the Short-Run</p>
                    <p>3.7 Long-Run Self-Adjustment</p>
                    <p>3.8 Fiscal Policy</p>
                    <p>3.9 Automatic Stabilizers</p>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUnit4" aria-labelledby="offcanvasUnit4Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Unit 4: Financial Sector</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <p><a href="/4_1">4.1 Financial Assets</a></p>
                    <p><a href="/4_2">4.2 Nominal v. Real Interest Rates</a></p>
                    <p>4.3 Definition, Measurement, and Functions of Money</p>
                    <p>4.4 Banking and the Expansion of the Money Supply</p>
                    <p>4.5 The Money Market</p>
                    <p>4.6 Monetary Policy</p>
                    <p>4.7 The Loanable Funds Market</p>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUnit5" aria-labelledby="offcanvasUnit5Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Unit 5: Long-Run Consequences of Stabilization Policies</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <p>5.1 Fiscal and Monetary Policy Actions in the Short Run</p>
                    <p>5.2 The Phillips Curve</p>
                    <p>5.3 Money Growth and Inflation</p>
                    <p>5.4 Government Deficits and the National Debt</p>
                    <p>5.5 Crowding Out</p>
                    <p>5.6 Economic Growth</p>
                    <p>5.7 Public Policy and Economic Growth</p>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUnit6" aria-labelledby="offcanvasUnit6Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Unit 6: Open Economy - International Trade and Finance</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <p>6.1 Balance of Payments Accounts</p>
                    <p>6.2 Exchange Rates</p>
                    <p>6.3 The Foreign Exchange Market</p>
                    <p>6.4 Effect of Changes in Policies and Economic Conditions on the Foreign Exchange Market</p>
                    <p>6.5 Changes in the Foreign Exchange Market and Net Exports</p>
                    <p>6.6 Real Interest Rates and International Capital Flows</p>
                </div>
            </div>
        </div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const alertElement = document.querySelector('.alert');

        // Show the alert with bounce animation on page load
        alertElement.classList.add('show');

        // Set an interval to apply shake animation every 2 seconds
        setInterval(() => {
            alertElement.classList.remove('shake'); // Remove shake class to reset the animation
            void alertElement.offsetWidth; // Trigger reflow to restart the animation
            alertElement.classList.add('shake'); // Add shake class to apply shake animation
        }, 2000);
    });
</script>   
{% endblock %}